In [120]:
%load_ext autoreload
%autoreload 2

import pandas as pd

from code.data_utils import clean_actual_data, clean_forecast_data

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [108]:
actual = pd.read_csv(r'../data/raw/actual_load.csv')
forecast = pd.read_csv(r'../data/raw/forecast_load.csv')

In [109]:
actual_df = clean_actual_data(actual)
forecast_df = clean_forecast_data(forecast)

In [118]:
actual_df.head()

            timestamp        load
0 2025-05-19 13:00:00  82704.3700
1 2025-05-19 12:55:00  82591.1100
2 2025-05-19 12:50:00  82968.9500
3 2025-05-19 12:45:00  82533.6100
4 2025-05-19 12:40:00  82672.5859

In [112]:
forecast_df.head()

            issued_at         target_time  forecast_load  horizon
0 2025-05-19 13:00:00 2025-05-19 13:00:00        82803.0        0
1 2025-05-19 13:00:00 2025-05-19 13:05:00        82895.0        1
2 2025-05-19 13:00:00 2025-05-19 13:10:00        82987.0        2
3 2025-05-19 13:00:00 2025-05-19 13:15:00        83076.0        3
4 2025-05-19 13:00:00 2025-05-19 13:20:00        83166.0        4

In [119]:
actual_df.tail()

               timestamp       load
8215 2025-04-21 00:20:00  82089.375
8216 2025-04-21 00:15:00  81796.140
8217 2025-04-21 00:10:01  81709.620
8218 2025-04-21 00:05:00  81350.125
8219 2025-04-21 00:00:00  81048.800

In [113]:
forecast_df.tail()

        issued_at         target_time  forecast_load  horizon
197299 2025-04-21 2025-04-21 01:35:00        78242.0       19
197300 2025-04-21 2025-04-21 01:40:00        77981.0       20
197301 2025-04-21 2025-04-21 01:45:00        77714.0       21
197302 2025-04-21 2025-04-21 01:50:00        77439.0       22
197303 2025-04-21 2025-04-21 01:55:00        77162.0       23

In [117]:
grouped = forecast_df.groupby('horizon').size()
grouped

horizon
0     8221
1     8221
2     8221
3     8221
4     8221
5     8221
6     8221
7     8221
8     8221
9     8221
10    8221
11    8221
12    8221
13    8221
14    8221
15    8221
16    8221
17    8221
18    8221
19    8221
20    8221
21    8221
22    8221
23    8221
dtype: int64

In [100]:
forecast_df = forecast_df.groupby('issued_at').filter(lambda g: len(g) == 24)

In [101]:
forecast_df = forecast_df[forecast_df['target_time'] <= actual_df['timestamp'].max()]

In [102]:
actual_df.shape

(8220, 2)

In [103]:
forecast_df.shape

(196752, 4)

In [105]:
forecast_df.shape[0]/actual_df.shape[0]

23.935766423357663

In [106]:
(forecast_df.shape[0] + 52)/actual_df.shape[0]

23.942092457420923

In [74]:
actual_df['timestamp'].min(), actual_df['timestamp'].max()

(Timestamp('2025-04-21 00:00:00'), Timestamp('2025-05-19 13:00:00'))

In [75]:
forecast_df['issued_at'].min(), forecast_df['issued_at'].max()

(Timestamp('2025-04-21 00:00:00'), Timestamp('2025-05-19 13:00:00'))

In [76]:
forecast_df['target_time'].min(), forecast_df['target_time'].max()

(Timestamp('2025-04-21 00:00:00'), Timestamp('2025-05-19 14:55:00'))

In [77]:
forecast_df[forecast_df['issued_at'] == forecast_df['issued_at'].max()]

             issued_at         target_time  forecast_load  horizon
0  2025-05-19 13:00:00 2025-05-19 13:00:00        82803.0        0
1  2025-05-19 13:00:00 2025-05-19 13:05:00        82895.0        1
2  2025-05-19 13:00:00 2025-05-19 13:10:00        82987.0        2
3  2025-05-19 13:00:00 2025-05-19 13:15:00        83076.0        3
4  2025-05-19 13:00:00 2025-05-19 13:20:00        83166.0        4
5  2025-05-19 13:00:00 2025-05-19 13:25:00        83260.0        5
6  2025-05-19 13:00:00 2025-05-19 13:30:00        83351.0        6
7  2025-05-19 13:00:00 2025-05-19 13:35:00        83442.0        7
8  2025-05-19 13:00:00 2025-05-19 13:40:00        83535.0        8
9  2025-05-19 13:00:00 2025-05-19 13:45:00        83627.0        9
10 2025-05-19 13:00:00 2025-05-19 13:50:00        83723.0       10
11 2025-05-19 13:00:00 2025-05-19 13:55:00        83815.0       11
12 2025-05-19 13:00:00 2025-05-19 14:00:00        83909.0       12
13 2025-05-19 13:00:00 2025-05-19 14:05:00        84001.0       13
14 2025-05-19 13:00:00 2025-05-19 14:10:00        84092.0       14
15 2025-05-19 13:00:00 2025-05-19 14:15:00        84181.0       15
16 2025-05-19 13:00:00 2025-05-19 14:20:00        84271.0       16
17 2025-05-19 13:00:00 2025-05-19 14:25:00        84358.0       17
18 2025-05-19 13:00:00 2025-05-19 14:30:00        84446.0       18
19 2025-05-19 13:00:00 2025-05-19 14:35:00        84532.0       19
20 2025-05-19 13:00:00 2025-05-19 14:40:00        84613.0       20
21 2025-05-19 13:00:00 2025-05-19 14:45:00        84701.0       21
22 2025-05-19 13:00:00 2025-05-19 14:50:00        84782.0       22
23 2025-05-19 13:00:00 2025-05-19 14:55:00        84865.0       23

In [11]:
actual_df['timestamp'] = actual_df['timestamp'].dt.strftime('%m/%d/%Y %I:%M:%S %p')
forecast_df['issued_at_str'] = forecast_df['issued_at'].dt.strftime('%m/%d/%Y %I:%M:%S %p')
forecast_df['target_time_str'] = forecast_df['target_time'].dt.strftime('%m/%d/%Y %I:%M:%S %p')

actual_df.to_csv(r'../data/processed/actual_load.csv', index=False)
forecast_df.to_csv(r'../data/processed/forecast_load.csv', index=False)