In [25]:
%load_ext autoreload
%autoreload 2

import pandas as pd
# pd.set_option('display.datetime_format', '%Y-%m-%d %H:%M:%S')

from code.evaluation import (compute_horizon_degradation_metrics,
                             plot_forecast_degradation,
                             plot_selected_horizons,
                             plot_forecast_trajectory,
                             compute_forecast_metrics)

from code.data_utils import clean_actual_data, clean_forecast_data

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [26]:
actual = pd.read_csv(r'../data/raw/actual_load.csv')
forecast = pd.read_csv(r'../data/raw/forecast_load.csv')

In [27]:
actual_df = clean_actual_data(actual)
forecast_df = clean_forecast_data(forecast)

In [28]:
(forecast_df.shape[0])/actual_df.shape[0]

24.0

In [29]:
actual_df

               timestamp        load
0    2025-04-21 00:00:00  81048.8000
1    2025-04-21 00:05:00  81350.1250
2    2025-04-21 00:10:01  81709.6200
3    2025-04-21 00:15:00  81796.1400
4    2025-04-21 00:20:00  82089.3750
...                  ...         ...
8215 2025-05-19 12:40:00  82672.5859
8216 2025-05-19 12:45:00  82533.6100
8217 2025-05-19 12:50:00  82968.9500
8218 2025-05-19 12:55:00  82591.1100
8219 2025-05-19 13:00:00  82704.3700

[8220 rows x 2 columns]

In [30]:
forecast_df

                 issued_at         target_time  forecast_load  horizon
0      2025-04-21 00:00:00 2025-04-21 00:00:00        80874.0        0
1      2025-04-21 00:00:00 2025-04-21 00:05:00        80893.0        1
2      2025-04-21 00:00:00 2025-04-21 00:10:00        80895.0        2
3      2025-04-21 00:00:00 2025-04-21 00:15:00        80882.0        3
4      2025-04-21 00:00:00 2025-04-21 00:20:00        80848.0        4
...                    ...                 ...            ...      ...
197275 2025-05-19 12:55:00 2025-05-19 14:30:00        84585.0       19
197276 2025-05-19 12:55:00 2025-05-19 14:35:00        84671.0       20
197277 2025-05-19 12:55:00 2025-05-19 14:40:00        84753.0       21
197278 2025-05-19 12:55:00 2025-05-19 14:45:00        84834.0       22
197279 2025-05-19 12:55:00 2025-05-19 14:50:00        84916.0       23

[197280 rows x 4 columns]

In [31]:
actual_df['timestamp'] = pd.to_datetime(actual_df['timestamp'], format='%m/%d/%Y %I:%M:%S %p')

In [32]:
actual_df.dtypes

timestamp    datetime64[ns]
load                float64
dtype: object

In [33]:
actual_df

               timestamp        load
0    2025-04-21 00:00:00  81048.8000
1    2025-04-21 00:05:00  81350.1250
2    2025-04-21 00:10:01  81709.6200
3    2025-04-21 00:15:00  81796.1400
4    2025-04-21 00:20:00  82089.3750
...                  ...         ...
8215 2025-05-19 12:40:00  82672.5859
8216 2025-05-19 12:45:00  82533.6100
8217 2025-05-19 12:50:00  82968.9500
8218 2025-05-19 12:55:00  82591.1100
8219 2025-05-19 13:00:00  82704.3700

[8220 rows x 2 columns]

In [34]:
forecast_df

                 issued_at         target_time  forecast_load  horizon
0      2025-04-21 00:00:00 2025-04-21 00:00:00        80874.0        0
1      2025-04-21 00:00:00 2025-04-21 00:05:00        80893.0        1
2      2025-04-21 00:00:00 2025-04-21 00:10:00        80895.0        2
3      2025-04-21 00:00:00 2025-04-21 00:15:00        80882.0        3
4      2025-04-21 00:00:00 2025-04-21 00:20:00        80848.0        4
...                    ...                 ...            ...      ...
197275 2025-05-19 12:55:00 2025-05-19 14:30:00        84585.0       19
197276 2025-05-19 12:55:00 2025-05-19 14:35:00        84671.0       20
197277 2025-05-19 12:55:00 2025-05-19 14:40:00        84753.0       21
197278 2025-05-19 12:55:00 2025-05-19 14:45:00        84834.0       22
197279 2025-05-19 12:55:00 2025-05-19 14:50:00        84916.0       23

[197280 rows x 4 columns]

In [23]:
forecast_df.dtypes

issued_at          datetime64[ns]
target_time        datetime64[ns]
forecast_load             float64
horizon                     int64
issued_at_str              object
target_time_str            object
dtype: object

In [35]:


actual_df.to_csv(r'../data/processed/actual_load.csv', index=False)
forecast_df.to_csv(r'../data/processed/forecast_load.csv', index=False)